# temp file
*#
*~

# byte code
*.pyc

# configuration file
*.txt
*.p

# shared object
*.so
.ropeproject/
.zcache/
*.DS_Store
*.sh
!job.sh

# output file
err
out
three/
four/
five/
*.log

#latex file
*.blg
*.fls
*.aux
*.bbl

